<div class="container" ng-controller="HomeController as model">
    <ng-include src="'../views/includes/header.view.client.html'"></ng-include>
    <div class="content">
        <div class="jumbotron">
            <h1>Pokémon TCG</h1>
            <p>Pokémon TCG can be played after you log in.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <div class="feature-cards col-md-12">
            <!--Card-->
            <div class="card col-md-4">

                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Pokémon TCG</h4>
                    <!--Text-->
                    <p class="card-text">Play the popular trading card game based on your favorite series - Pokémon.</p>
                    <a href="#" class="btn btn-primary">Play</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

            <!--Card-->
            <div class="card col-md-4">

                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Pokédex</h4>
                    <!--Text-->
                    <p class="card-text">Know about every Pokémon you come across. Be a better Pokémon Trainer</p>
                    <a href="#" class="btn btn-primary">Open Pokédex</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

            <!--Card-->
            <div class="card col-md-4">

                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Gym Battles</h4>
                    <!--Text-->
                    <p class="card-text">Challenge Gym Masters and get a chance to be a Gym master!</p>
                    <a href="#" class="btn btn-primary">Battle it out!</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <div class="feature-stats col-md-12">
            <div class="col-md-4">
                <h3>Featured Players</h3>
                <ul class="list-group">
                    <li class="list-group-item">Ash</li>
                    <li class="list-group-item">Brock</li>
                    <li class="list-group-item">Joey</li>
                    <li class="list-group-item">Ross</li>
                    <li class="list-group-item">Master Roshi</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Featured Pokemons</h3>
                <ul class="list-group">
                    <li class="list-group-item">Pikachu</li>
                    <li class="list-group-item">Bulbasaur</li>
                    <li class="list-group-item">Gyarados</li>
                    <li class="list-group-item">Mewto</li>
                    <li class="list-group-item">Weedle</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Featured Gyms</h3>
                <ul class="list-group">
                    <li class="list-group-item">Pewter Gym</li>
                    <li class="list-group-item">erulean Gym</li>
                    <li class="list-group-item">Vermilion Gym</li>
                    <li class="list-group-item">Celadon Gym</li>
                    <li class="list-group-item">Saffron Gym</li>
                </ul>
            </div>
        </div>
    </div>
<ng-include src="'../views/includes/footer.view.client.html'"></ng-include>
</div>