.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.tagcloud ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.tagcloud ul li {
    float: left;
    width: 120px;
    margin: 0 10px 10px 0;
    padding: 0;
}
.tagcloud ul li a {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 1em;
    /*background-color: #fff;*/
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*color: #333;*/
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tagcloud ul li a.moves{
    background-color: #98ccff;
    color: black;
}

.tagcloud ul li a:hover {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: #fff;
}

.grass{
    background-color: green;
    color: white;
}

.poison{
    background-color: mediumpurple;
    color: white;
}
.ground{
    background-color: sandybrown;
    color: white;
}
.psychic{
    background-color: rebeccapurple;
    color: white;
}
.flying{
    background-color: deepskyblue;
    color: white;
 }
.bug{
    background-color: maroon;
    color: white;
}
.fire{
    background-color: orange;
    color: white;
}
.ice{
    background-color: whitesmoke;
    color: black;
}

.fighting{
    background-color: saddlebrown;
    color: white;
}
.rock{
    background-color: tomato;
    color: black;
}
.electric{
    background-color: darkorange;
    color: black;
}
.normal{
    background-color: blanchedalmond;
    color: black;
}
.water{
    background-color: dodgerblue;
    color: white;
}




.vertical {
    display: inline-block;
    width: 10%;
    height: 40px;
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.vertical {
    box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.progress{
    height: 15px;
}
.progressContainer{
    padding-top: 5px;
    width: 100%;
}

.playing-mat{
    position: static;
    background-color: transparent;
    /*height: 75px;*/
    height:55px;
}

.center-pokeball{
    position: relative;
    z-index: 1000;
}

hr.center-line{
    width: 100%;
    margin-top: -5%;
    z-index: 100;
}

.card-deck-player{
    align: center;

}

.player-area{
    /*margin-top: 20px;*/
    text-align: center;
}

.opponent-area{
    margin-top: 10px;
    text-align: center;
    position: relative;
    z-index: 1050;
}

a .glyphicon {
    color: white;
    text-decoration: none !important;
    transition: all .5s;
    font-size: 25px;
}
a .glyphicon-heart{
     color: #e74c3c;
    /*font-size: 50px;*/
 }

a .glyphicon-heart-empty:hover{
     transform:scale(1.1);
 }

.comments-pane {
    margin-top: 20px;
}

.active1 {
    background : magenta;
    border-color: magenta;
    padding : 5px;
}

.active2{
    background : orangered;
    border-color: orange;
    padding : 5px;
}


/*Thumbnail*/

img {
    max-width : 100%;
    display: inline;
}

.thumbnail {
    position: static;
    display: inline;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 240px;
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}

.thumbnail>img {
    display: inline;
}

.image {
    display: inline;
    z-index: 1050;
}

.image img.active2 {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    z-index: 1050;
}

.image:hover img.active2 {
    -webkit-transform:scale(2.00); /* Safari and Chrome */
    -moz-transform:scale(2.00); /* Firefox */
    -ms-transform:scale(2.00); /* IE 9 */
    -o-transform:scale(2.00); /* Opera */
    transform:scale(2.00);
    z-index: 1050;
}


.image img.active1 {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    z-index: 1050;
}

.image:hover img.active1 {
    -webkit-transform:scale(2.00); /* Safari and Chrome */
    -moz-transform:scale(2.00); /* Firefox */
    -ms-transform:scale(2.00); /* IE 9 */
    -o-transform:scale(2.00); /* Opera */
    transform:scale(2.00);
    z-index: 1050;
}

/*Thumbnails end*/

.game{
    max-width: 100%;
    overflow-x: hidden;
}

.score-opponent{
    margin-top: 80px;
}

.player-cards{
    position: relative;
    /*z-index: 1000;*/
}

.score-player{
    margin-top: 21px;
}

.register-btn{
    background: #009688;
    border-color: #009688;
    color: white;
}

.login-btn{
    background: #03A9F4;
    border-color: #03A9F4;
    color: white;
    /*height: 58px;*/
}

.form-control{
    color: black;
}

.loginForm{
    margin-top: 50px;
    height: auto;
    margin-bottom: 20px;
}


.pokemon-thumb{
    background-color: white;
    background-color: rgba(255,255,255,.2);
    /*padding:2px;*/
    /*margin: 10px 20px;*/
}

.pokemon-thumb:hover{
    transform: matrix(1.0, 0, 0, 1, 0, 0);
}

.pokemon-thumb-name{
    text-transform: capitalize;
}

.details{
    margin-top: 40px;
}

*, *::before, *::after{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*border: 5px solid #fff;*/
    box-shadow: 0 0 5px #ddd;
    margin: 1em;
}

figcaption{
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: table;
    font-size: 20px;
    font-color: white;
}

figcaption div{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 20px;
    opacity: 0;
    color: black;
    text-transform: uppercase;
}

figcaption div:after{
    position: absolute;
    content: "";
    left: 0; right: 0;
    bottom: 40%;
    text-align: center;
    margin: auto;
    width: 0%;
    height: 2px;
    background: #2c3e50;
}

figure img{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
    background: rgba(255,255,255,0.3);
}

figcaption:hover div{
    opacity: 1;
    top: 0;
}

figcaption:hover div:after{
    width: 50%;
}

figure:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

#searchPokemon_value{
    color: #9CDC18;
}

.angucomplete-holder {
    position: relative;
    color: #9CDC18;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    color: #9CDC18;
}

.angucomplete-input-not-empty{
    color: #9CDC18;
}

.angucomplete-row{
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin:1px;
    color: #9CDC18;
    font-size: 16px;
}

.angucomplete-searching {
    color: #9CDC18;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.like {
    position: relative;
    display: inline-block;
}

.like .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 0%;
}

.like .tooltiptextComment {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100%;
}

.like .tooltipabilities {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100%;
}


.like:hover .tooltiptextComment {
    visibility: visible;
}

.like:hover .tooltiptext {
    visibility: visible;
}

.like:hover .tooltipabilities {
    visibility: visible;
}

.pokemon-info-image{
    border: 1px;
    background-color: rgba(50,50,50,.2);
}

.pokemon-info-likes{
    color: white;
}

html,
body,
header,
.view {
    height: 100%;
}

.card{
    background-color: rgba(50,50,50,.2);
}

.jumbotron {
    background-color: rgba(50,50,50,.2);
}

.footer-links{

}

.footer{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.registerForm{
    padding-bottom: 50px;
}

.register-form{
    height: inherit;
}

.userProfile{
    margin-top: 60px;
}

body{
    height: inherit;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {

    .navbar{
        z-index: 1030;
    }

    body,html{
        max-width: 100%;
        overflow-x: hidden;
    }
    .game{
        max-width: 100%;
        overflow-x: hidden;
    }

    .modal-backdrop{
        max-width: 100%;
    }

    .local, .google, .facebook {
        margin-top: 10px;
    }

    .know-more-footer{
        display:none;
    }

    figure{
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        /*border: 5px solid #fff;*/
        box-shadow: 0 0 5px #ddd;
        margin: 1em 0em;
    }

    figcaption{
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        text-align: center;
        font-weight: bold;
        width: 100%;
        height: 100%;
        display: table;
        font-size: 20px;
        font-color: white;
    }

    figcaption div {
        display: table-cell;
        vertical-align: text-top;
        position: relative;
        top: 5px;
        opacity: 1;
        color: black;
        text-align: center;
    }

    figcaption:hover div {
        opacity: 1;
        top: 0px;
    }

    figcaption div:after{
        position: absolute;
        left: 0; right: 0;
        bottom: 40%;
        text-align: center;
        margin: auto;
        width: 0%;
        height: 2px;
    }

    figcaption:hover div:after{
        display:none;
        background: transparent;
    }

    figure:hover img{
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }


}

.userDetails h1,h3{
    color: #9CDC18;
}

hr.separator{

    border: 0;
    border-top: 1px solid #464545;
    height: 0;
    width: 100%;
    text-align: center;
    position: relative;
    background: #E75926;
    /*margin: 0 auto;*/
    margin-top: 21px;
    margin-bottom: 21px;

}

h4{
    color: #9CDC18;
}

a.abilities{
    color: #0ce3ac;
}

.warning{
    color: red;
}

ul li {
    color: white;
}

.gym{
    background-blend-mode: screen;
}

h6{
    color: white;
}


.ps-info-game{
    color: #9CDC18;
}

.hp-remaining{
    color: yellow;
}

.non-active-card{
    opacity: 0.3;
}

.players-details{
    margin-top:0;
}

.upper{
    overflow:hidden;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    z-index: 9999;
    height: 100%;
}
#pokeball {
    position: absolute;
    left: 46%;
    top: 40%;
    margin: -32px 0 0 -32px;
    padding: 0;
}

#profile {
    position: absolute;
    left: 41%;
    top: 19%;
    margin: -32px 0 0 -32px;
    padding: 0;
}