body{
    color: white;
    background: #424242 url("/images/body_bg.png");
    font-family: Roboto,sans-serif;
}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.tagcloud ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.tagcloud ul li {
    float: left;
    width: 120px;
    margin: 0 10px 10px 0;
    padding: 0;
}
.tagcloud ul li a {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 1em;
    /*background-color: #fff;*/
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*color: #333;*/
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tagcloud ul li a:hover {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: #fff;
}

.grass{
    background-color: green;
    color: white;
}

.poison{
    background-color: mediumpurple;
    color: white;
}
.ground{
    background-color: sandybrown;
    color: white;
}
.psychic{
    background-color: rebeccapurple;
    color: white;
}
.flying{
    background-color: deepskyblue;
    color: white;
 }
.bug{
    background-color: maroon;
    color: white;
}
.fire{
    background-color: orange;
    color: white;
}
.ice{
    background-color: whitesmoke;
}

.vertical {
    display: inline-block;
    width: 10%;
    height: 40px;
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.vertical {
    box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.progressContainer{
    height: 150px;
    margin-top: 40px;
    padding-top: 20px;
    width: 100%;
}

.playing-mat{
    position: static;
    background-color: transparent;
}

.center-pokeball{
    position: relative;
    z-index: 1000;
}

hr.center-line{
    width: 100%;
    margin-top: -5%;
    z-index: 100;
}

.card-deck-player{
    align: center;

}

.player-area{
    margin-top: 60px;
    text-align: center;
}

.opponent-area{
    margin-top: 50px;
    text-align: center;
}

a .glyphicon {
    color: gray;
    text-decoration: none !important;
    transition: all .5s;
    font-size: 25px;
}
a .glyphicon-heart{
     color: #e74c3c;
    /*font-size: 50px;*/
 }

a .glyphicon-heart-empty:hover{
     transform:scale(1.1);
 }

.comments-pane {
    margin-top: 20px;
}

.active1 {
    background : magenta;
    border-color: magenta;
    padding : 5px;
}

.active2{
    background : orangered;
    border-color: orange;
    padding : 5px;
}


/*Thumbnail*/

img {
    max-width : 100%;
    display: inline;
}

.thumbnail {
    position: static;
    display: inline;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 240px;
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}

.thumbnail>img {
    display: inline;
}

.image {
    display: inline;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(2.25); /* Safari and Chrome */
    -moz-transform:scale(2.25); /* Firefox */
    -ms-transform:scale(2.25); /* IE 9 */
    -o-transform:scale(2.25); /* Opera */
    transform:scale(2.25);
}

/*Thumbnails end*/

.game {
    margin-top: 50px;
}

.score-opponent{
    margin-top: 10px;
}

.score-player{
    margin-top: 21px;
}

.register-btn{
    background: #009688;
    border-color: #009688;
    color: white;
}

.login-btn{
    background: #03A9F4;
    border-color: #03A9F4;
    color: white;
}

.login-form, .register-form{
   margin-top: 10%;
}

.pokemon-thumb{
    background-color: white;
    background-color: rgba(255,255,255,.2);
    padding:2px;
    margin: 10px 20px;
}

.pokemon-thumb:hover{
    transform: matrix(1.0, 0, 0, 1, 0, 0);
}

.pokemon-thumb-img{
}

.pokemon-thumb-name{
    text-transform: capitalize;
}

.details{
    margin-top: 20px;
}

*, *::before, *::after{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*border: 5px solid #fff;*/
    box-shadow: 0 0 5px #ddd;
    margin: 1em;
}

figcaption{
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: table;
    font-size: 20px;
    font-color: white;
}

figcaption div{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 20px;
    opacity: 0;
    color: black;
    text-transform: uppercase;
}

figcaption div:after{
    position: absolute;
    content: "";
    left: 0; right: 0;
    bottom: 40%;
    text-align: center;
    margin: auto;
    width: 0%;
    height: 2px;
    background: #2c3e50;
}

figure img{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
    background: rgba(255,255,255,0.3);
}

figcaption:hover div{
    opacity: 1;
    top: 0;
}

figcaption:hover div:after{
    width: 50%;
}

figure:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.angucomplete-row{
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin:1px;
    color: #9CDC18;
    font-size: 16px;
}