<div class="container-fluid" ng-controller="PokedexController as model">
    <div>
        <div class="alert alert-danger text-center" ng-if="model.error">
            <p>{{model.error}}</p>
        </div>
        <!--<form novalidate name="searchPokedex">-->
            <!--<select name="select" ng-model="pokedex.category" class="form-control">-->
                <!--<option value="pokemon" selected>Pokemon</option>-->
                <!--<option value="evolution">Evolution</option>-->
                <!--<option value="Location">Location</option>-->
                <!--<option value="contest">Contests</option>-->
                <!--<option value="moves">Moves</option>-->
            <!--</select>-->
            <!--<input type="text"-->
                   <!--name="search"-->
                   <!--placeholder="Enter Search Term"-->
                   <!--class="form-control"-->
                   <!--ng-model="pokedex.search"-->
                   <!--required>-->


            <!--{{model.matches}}-->

            <!--<div ng-if="searchPokedex.search.$invalid && searchPokedex.$submitted" style="color: indianred"> Enter a search term</div>-->
            <!--<button type="submit"-->
                    <!--class="form-control btn-success btn-block"-->
                    <!--ng-click="model.getResults(pokedex.search, pokedex.category)"-->
                    <!--style="margin-top: 10px;">Search Pokedex</button>-->
            <!--<button type="submit"-->
                    <!--class="form-control btn-success btn-block"-->
                    <!--ng-click="model.fetchPokemons(pokedex.search)"-->
                    <!--style="margin-top: 10px;">Search Pokedex</button>-->

            <!--<button type="submit"-->
            <!--class="form-control btn-success btn-block"-->
            <!--ng-click="model.insertData()"-->
            <!--style="margin-top: 10px;">Insert Data</button>-->
        <!--</form>-->

        <h1 class="text-center">Pokedex | Search Pokemon</h1>
        <angucomplete-alt
                id="ex2"
                placeholder="Search Pokemon"
                local-data="model.matches"
                selected-object="model.selectPokemon"
                minlength="2"
                text-searching="Searching for Pokemons..."
                text-no-results="No Pokemon Found."
                search-fields='name'
                title-field='name'
                input-class="form-control form-control-small"
                match-class="highlight"
                required/>
    </div>

    <div class="results col-md-6" ng-if="model.searchResults">
        <h1 class="panel-heading text-capitalize">{{model.searchResults.name}}</h1>
        <img ng-src="{{model.searchResults.img}}"/>
        <h4> Abilites </h4>
        <ul ng-repeat="ability in model.searchResults.abilities">
            <li>{{ability.ability.name}}</li>
        </ul>
        <h4> Types </h4>
        <ul ng-repeat="type in model.searchResults.types">
            <li>{{type.type.name}}</li>
        </ul>
        <!--{{model.searchResults}}-->
        <a ng-click="model.getMoreInfo(model.searchResults)"> Read More</a>
    </div>
    <div class="details col-md-12 text-center">
       <!-- <div infinite-scroll="model.loadMore()" infinite-scroll-distance="20" ng-repeat="pokemon in model.pokemonThumbs" class="col-xs-4">-->
        <div ng-repeat="pokemon in model.pokemonThumbs" class="col-xs-4">
            <a ng-click="model.getMoreInfo(pokemon)">
                <img ng-src="{{pokemon.image}}">
                <h4 class="text-center">{{pokemon.name}}#{{pokemon.id}}</h4>
            </a>
        </div>
    </div>


</div>

