<div class="container"
     ng-controller="PokemonInfoController as model">
    <ng-include src="'../views/includes/header-internal.view.client.html'"></ng-include>

    <div class="pokeName">
        <h1 class="text-capitalize text-center">{{model.pokemon.name}} # {{model.pokemon.id}}</h1>
    </div>
    <hr>
    <div class="upper">
        <div class="col-md-4 pokemon-info-image">
            <img ng-src="{{model.pokemon.img}}"
                 class="img-responsive"/>

            <div class="social" style="text-align:center">
                <span ng-show="model.user._id">
                    <a ng-click="model.likePokemon()"
                       ng-hide="model.isLiked">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                    </a>
                    <a ng-click="model.unlikePokemon()"
                       ng-show="model.isLiked">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                </span>
                <span ng-show="!model.user._id">
                    <a data-toggle="tooltip" data-placement="top" title=""
                       ng-disabled="!model.user._id" data-original-title="Please login to like!" disabled="disabled">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-8">
            <h4 class="description">
                {{model.pokemon.species.description}}
            </h4>
            <div class="physicalAttribtues">
                <h3>Physical Attributes</h3>
                <ul>
                    <li>Height : {{model.pokemon.height}}'</li>
                    <li>Weight : {{model.pokemon.weight}}</li>
                    <li>Base Experience : {{model.pokemon.base_experience}}</li>
                    <li>Genus : {{model.pokemon.species.genus}}</li>
                    <li>Habitat : {{model.pokemon.species.habitat}}</li>
                    <li>Shape : {{model.pokemon.species.shape}}</li>
                    <li>Abilities :
                        <ul ng-repeat="ability in model.pokemon.abilities">
                            <li class="like">
                                <a title="{{ability.description}}">{{ability.name}}</a>
                                <span class="tooltipabilities">{{ability.description}}</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h1>{{ rating.title }}</h1>
                        <span class="h5" ng-show="model.avgRating != 0">
                                <ng-rating ng-model="model.avgRating"
                                           editable="false"
                                           show-grade="true"
                                           starsCount="5"
                                style="color: #9CDC18;">
                                    </ng-rating>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="type tagcloud">
                <h3>Types</h3>
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="type in model.pokemon.types">
                        <a href="#" class="{{model.getColorClass(type)}}">{{type}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="weakness col-md-12">
        <h3>Weaknesses</h3>
        <div class="tagcloud">
            <ul>
                <li ng-repeat="weakness in model.pokemon.weaknesses track by $index">
                    <a href="#" class="{{model.getColorClass(weakness)}}">
                        {{weakness}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="stats col-md-12">
        <h3>Stats</h3>
        <div class="progressContainer" ng-repeat="stat in model.pokemon.stats">
            <h6 class="col-md-3" style="text-transform: capitalize;margin:0;">{{stat.name}} ({{stat.base_stat}})</h6>
            <div class="progress">
                <div class="progress-bar progress-bar-info col-md-9" role="progressbar"
                     aria-valuemin="0" aria-valuemax="{{stat.base_stat}}"
                     style="width:{{model.getIndicator(stat.base_stat)}}%"
                     aria-valuenow="{{stat.base_stat}}">
                </div>
            </div>
        </div>
    </div>

    <div class="moves col-md-12">
        <h3>Moves</h3>
        <div class="tagcloud">
            <ul>
                <li ng-repeat="move in model.pokemon.moves">
                    <a href="#" class="moves">{{move}}</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="evolution col-md-12">
        <h3>Evolution</h3>
        <div class="evolution-pane">
            <figure ng-repeat="evo in model.pokemon.species.evoChain" class="col-md-3 pokemon-thumb"
                    ng-click="model.getMoreInfo(evo.species_name)">
                <img ng-src="{{evo.img}}"
                     class="img-responsive pokemon-thumb-img"
                     style="padding:16px"/>
                <figcaption>
                    <div class="text-center pokemon-thumb-name">{{evo.species_name}}#{{evo.species_id}}</div>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="reviews col-md-12">
        <div class="comments-header" style="display: inline">
            <h3>Comments/Reviews</h3>
        </div>
        <div class="comments-pane">
            <hr>
            <div class="comments" ng-repeat="review in model.reviews">
                <span class="h5">
                    <ng-rating ng-model="review.rating"
                               editable="false"
                               starsCount="5">
                    </ng-rating>
                </span>
                <h3>{{review.title}}</h3>
                <p style="color: white">{{review.description}}</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Write a Review:</h3>
                <ng-rating ng-model="review.rating"
                           editable="true"
                           stars-count="5">
                </ng-rating>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input ng-model="review.title" type="text"
                               class="form-control" id="title" name="title"
                               placeholder="Enter Title"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Review</label>
                        <textarea ng-model="review.description"
                                  class="form-control" id="description" name="description"
                                  placeholder="Enter Description">
                        </textarea>
                    </div>

                    <div class="alert alert-danger" ng-show="model.error">
                        {{model.error}}
                    </div>

                    <div class="alert alert-success" ng-show="model.message">
                        {{model.message}}
                    </div>

                    <a class="btn btn-success" role="button" ng-click="model.addReview(review)">
                        Submit
                    </a>
                </form>
            </div>
        </div>
    </div>
    <ng-include src="'../views/includes/footer.view.client.html'"></ng-include>
</div>