<div class="container" ng-controller="PokedexController as model">
    <div>
        <div class="alert alert-danger text-center" ng-if="model.error">
            <p>{{model.error}}</p>
        </div>
        <h1 class="text-center">Pokedex | Search Pokemon</h1>
        <angucomplete-alt
            id="searchPokemon"
            name="searchPokemon"
            placeholder="Search Pokemon"
            local-data="model.matches"
            selected-object="model.selectPokemon"
            minlength="2"
            text-searching="Searching for Pokemons..."
            text-no-results="No Pokemon Found."
            search-fields='name'
            title-field='name'
            input-class="form-control form-control-small"
            input-changed="model.resetResult"
            match-class="highlight"
            required
            class="col-md-12"></angucomplete-alt>
    </div>

    <!--<div class="results col-md-12" ng-if="model.searchResults">-->
        <!--<h1 class="panel-heading text-capitalize">{{model.searchResults.name}}</h1>-->
        <!--<div class="pokemon-image col-md-4">-->
            <!--<img ng-src="{{model.searchResults.img}}" style="height: auto;width: auto;"/>-->
        <!--</div>-->
        <!--<div class="description" class="col-md-6">-->
            <!--<h4> Abilites </h4>-->
            <!--<ul ng-repeat="ability in model.searchResults.abilities">-->
                <!--<li>{{ability.ability.name}}</li>-->
            <!--</ul>-->
            <!--<h4> Types </h4>-->
            <!--<ul ng-repeat="type in model.searchResults.types">-->
                <!--<li>{{type.type.name}}</li>-->
            <!--</ul>-->
            <!--<a ng-click="model.getMoreInfo(model.searchResults)"> Read More</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="details col-md-12 col-md-offset-1 text-center">
       <!-- <div infinite-scroll="model.loadMore()" infinite-scroll-distance="20" ng-repeat="pokemon in model.pokemonThumbs" class="col-xs-4">-->
        <figure ng-repeat="pokemon in model.pokemonThumbs"
                ng-show="model.searchResults.name == '' || model.searchResults.name == pokemon.name || searchStr.$valid"
                class="col-md-3 text-center pokemon-thumb" ng-click="model.getMoreInfo(pokemon)">
            <img ng-src="{{pokemon.image}}" class="pokemon-thumb-img">
            <figcaption><div class="text-center pokemon-thumb-name">{{pokemon.name}}#{{pokemon.id}}</div></figcaption>
        </figure>
    </div>


</div>

