<div class="footer col-md-12">
    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer Links-->
        <div class="container know-more-footer">
            <div class="row">
                <!--First column-->
                <div class="col-md-6">
                    <h5 class="title">Wanna know more about Pokémons?</h5>
                    <p>This project was inspired by the following API's and Websites</p>
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-3">
                    <h5 class="title">Websites</h5>
                    <ul>
                        <li><a href="http://www.pokemon.com/us/">Pokémon USA</a></li>
                        <li><a href="http://www.pokemon.com/us/pokemon-tcg/play-online/">Poké TCG</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="title">API</h5>
                    <ul>
                        <li><a href="https://pokemontcg.io/">Pokémon TCG API</a></li>
                        <li><a href="https://pokeapi.co/">Poké API</a></li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright <a href="#"> Pokémon TCG </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
</div>
<!-- end -->