<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-controller="HeaderController as model">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
            <a class="navbar-brand page-scroll" href="/">
                <img src="img/pokeball.svg" style="display: inline"/>
                <span>Pokémon World</span>
            </a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"> <a href="/"></a> </li>
                <li> <a class="page-scroll" href="/">Home</a> </li>
                <li ng-show="model.user == ''"> <a class="page-scroll" href="#about">About</a> </li>
                <li> <a class="page-scroll" href="/#!/game">Pokémon TCG</a> </li>
                <li> <a class="page-scroll" href="/#!/pokedex">Pokédex</a> </li>
                <!--<li ng-show="model.user == ''"> <a class="page-scroll" href="#testimonials">Gym Battles</a> </li>-->
                <li ng-show="model.user == ''"><a href="/#!/login/">Login</a></li>
                <li ng-show="model.user == ''"><a href="/#!/register/">Sign Up</a></li>
                <li ng-show="model.user"><a href="/#!/user/">Profile</a></li>
                <li ng-show="model.user" ><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>