<div class="container-fluid" ng-controller="PokemonController as model">
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group">
                <li ng-repeat="set in model.sets.sets" class="list-group-item">
                    <a ng-click="model.getPokemons(set.code)">
                        {{set.name}}
                    </a>
                    <span class="pull-right">
                        {{set.totalCards}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div ng-repeat="pokemon in model.pokemons" class="col-sm-6">
                <img ng-src="{{pokemon.imageUrl}}" />
            </div>
        </div>
    </div>

</div>

