<!--<div class="container-fluid" ng-controller="GameController as model">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
            <!--<div ng-repeat="card in model.player1.cards">-->
                <!--<div ng-class="{ 'active1' : card == model.player1.current}">-->
                    <!--<div>{{ card.isAlive }}</div>-->
                    <!--<div>{{ card.details.name }}</div>-->
                    <!--<div>{{ card.details.hp }}</div>-->
                    <!--<div ng-repeat="attack in card.details.attacks">-->
                        <!--<button ng-show="model.isNumber(attack.damage)"-->
                                <!--ng-click="model.attack1(attack.damage)"-->
                                <!--ng-disabled="!model.game.player1Turn || card != model.player1.current">-->
                            <!--{{ attack.name}}{{attack.damage}}-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
            <!--<div ng-repeat="card in model.player2.cards">-->
                <!--<div ng-class="{ 'active2' : card == model.player2.current}">-->
                    <!--<div>{{ card.isAlive }}</div>-->
                    <!--<div>{{ card.details.name }}</div>-->
                    <!--<div>{{ card.details.hp }}</div>-->
                    <!--<div ng-repeat="attack in card.details.attacks">-->
                        <!--<button ng-show="model.isNumber(attack.damage)"-->
                                <!--ng-click="model.attack2(attack.damage)"-->
                                <!--ng-disabled="model.game.player1Turn || card != model.player2.current">-->
                            <!--{{ attack.name}}{{attack.damage}}-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<div class="container game" ng-controller="GameController as model">
    <h1 class="text-center" ng-show="(model.activeCard1.details.name && model.activeCard2.details.name)">
        {{ model.activeCard1.details.name }} v/s {{ model.activeCard2.details.name }}
         | Turn : Trainer <span ng-show="model.game.player1Turn"> 1</span> <span ng-show="!model.game.player1Turn">2</span>
    </h1>
    <h1 ng-show="model.winner==1" class="text-center">{{model.activeCard1.details.name}} & Trainer 1 Win !!</h1>
    <h1 ng-show="model.winner==2" class="text-center">{{model.activeCard2.details.name}} & Computer Win !!</h1>
    <div class="container opponent-area">
        <div class="card-deck-opponent text-center thumbnail" >
            <div class="image" ng-repeat="card in model.player1.cards">
                <img ng-src="{{card.details.imageUrl}}" width="150" height="180" class="image"
                     ng-class="{ 'active1' : card == model.player1.current}"
                     ng-disabled="!model.game.player1Turn || card != model.player1.current">
            </div>
        </div>
        <hr class="text-center">
        <div class="attacks" style="display: inline">
            <h4 style="display: inline">Attacks   </h4>
            <div ng-repeat="attack in model.activeCard1.details.attacks" style="display: inline">
                <button ng-show="model.isNumber(attack.damage)"
                        ng-click="model.attack1(attack.damage)"
                        class="btn btn-sm btn-danger"
                        ng-disabled="!model.game.player1Turn || model.activeCard1 != model.player1.current || model.winner == 1">
                    {{ attack.name}} ({{attack.damage}})
                </button>
            </div>
        </div>
        <div class="score-opponent text-center">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     ng-class="{'progress-bar-danger' : (model.getHp(model.activeCard1.details.hp) <= 10)};"
                     aria-valuenow="{{ model.activeCard1.details.hp }}" aria-valuemin="0" aria-valuemax="400"
                     style="width:  {{model.getHp(model.activeCard1.details.hp)}}%; height: 20px;">
                    {{model.activeCard1.details.hp}} Left
                </div>
            </div>
        </div>
    </div>

    <div class="container playing-mat text-center">
        <img class="center-pokeball" ng-src="../../images/Pokeball.png"
             ng-show="model.goku==false"
             width="100" height="100">
        <img class="center-pokeball" ng-src="../../images/goku-attack.gif"
             ng-show="model.goku==true"
             width="200" height="200">
        <h1 ng-show="model.goku==true">{{model.computerMessage}}</h1>

        <hr class="text-center center-line">
    </div>

    <div class="container player-area text-center">

        <div class="score-player text-center">
            <div class="activeCard2">
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         ng-class="{'progress-bar-danger' : (model.getHp(model.activeCard2.details.hp) <= 20)};"
                         aria-valuenow="{{ model.activeCard2.details.hp }}" aria-valuemin="0" aria-valuemax="400"
                         style="width: {{model.getHp(model.activeCard2.details.hp)}}%">
                        {{ model.activeCard2.details.hp }} Left
                    </div>
                </div>
                <br>
            </div>
            <div class="attacks" style="display: inline">
                <h4 style="display: inline">Attacks   </h4>
                <div ng-repeat="attack in model.activeCard2.details.attacks" style="display: inline">
                    <button class="btn btn-sm btn-danger" style="display:inline"
                            ng-show="model.isNumber(attack.damage)"
                            ng-click="model.attack2(attack.damage);"
                            ng-disabled="true">
                        {{ attack.name}} ({{attack.damage}})
                    </button>
                </div>
            </div>
        </div>
        <hr class="text-center">
        <div class="card-deck-player text-center thumbnail">
            <div class="image" ng-repeat="card in model.player2.cards">
                <img ng-src="{{card.details.imageUrl}}"
                     width="150"
                     height="180"
                     ng-class="{ 'active2' : card == model.player2.current}"
                     ng-disabled="model.game.player1Turn || card != model.player2.current">
            </div>
        </div>
    </div>
</div>