<div class="container-fluid" ng-controller="RatingController as model">
    <ul class="list-unstyled">
        <li ng-repeat="rating in model.ratings" style="margin-bottom:50px">
            <h1>{{ rating.title }}</h1>
            <ng-rating ng-model="rating.rating"
                       icon-class="rating.iconClass"
                       editable="rating.editableRating"
                       stars-count="rating.starsCount"
                       based-on="rating.basedOn"
                       show-grade="rating.showGrade">
            </ng-rating>
            <p>{{ rating.description }}</p>
        </li>
    </ul>
</div>